---
const { class: className } = Astro.props

const response = await fetch(
    'https://excellent-cheese-a20f6a488c.strapiapp.com/api/articles?populate=*'
)
const articles = await response.json()
const articleList = articles.data
---

<h2 class="visually-hidden">Popular articles</h2>
<ul role="list" class:list={className}>
    {
        articleList.map((article: any) => (
            <li>
                <article>
                    <img src={article.cover.url} alt="" />
                    <div class="flow">
                        <h3>
                            <a href="">Reviving Retro PCs</a>
                        </h3>
                        <p>
                            What happens when old PCs are given modern upgrades?
                        </p>
                    </div>
                </article>
            </li>
        ))
    }
</ul>

<style>
    article {
        display: grid;
        gap: 1rem;
        grid-template-columns: 100px auto;

        > div {
            display: grid;
            gap: 0.5rem;

            &::before {
                line-height: 1;
                content: counter(article-count, decimal-leading-zero);
                display: block;
                font-weight: var(--fw-semi-bold);
                font-size: var(--fs-600);
                color: var(--clr-accent-400);
            }
        }
    }

    ul {
        counter-reset: article-count;
    }

    li {
        counter-increment: article-count;
    }
</style>
